.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--translucent-primary);
  filter: drop-shadow(0px 0px 50px black);
  border-radius: 50px;
  padding: 100px;
  color: white;
}

.GoToExamsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GoToExamsPage p {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.GoToExamsPage a {
  background-color: var(--primary);
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.ButtonContainer {
  background-color: white;
  border-radius: 25px;
  padding: 20px 30px;
  margin: 10px;
  cursor: pointer;
}

.ButtonContainer :hover {
  filter: drop-shadow(0px 0px 10px rgba(204, 22, 113, 0.541));
}

.AnimatedText {
  background: linear-gradient(
    -45deg,
    rgb(7, 7, 158),
    rgb(243, 22, 22),
    #ff6600
  );
  background-size: 280%;
  letter-spacing: -1px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: AnimatedText 5s ease-in-out infinite;
  -webkit-animation: AnimatedText 5s ease-in-out infinite;
}

@keyframes AnimatedText {
  0% {
    background-position: 0px 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
