.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--translucent-primary);
  padding: 5% 5%;
  max-width: 500px;
  max-height: 800px;
  border-radius: 25px;
}

.LoginForm .Input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.LoginForm .Role {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LoginForm .Role .RadioInput {
  margin: 10px;
  color: white;
}

.LoginForm .Role .RadioInput * {
  cursor: pointer;
}

.LoginForm .Role .RadioInput input {
  accent-color: rgb(39, 123, 179);
}

.LoginForm .Input input {
  border-radius: 25px;
  width: 18rem;
  height: 2rem;
  padding: 10px;
  border: none;
}

.LoginForm .Error {
  color: white;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.822);
  border-radius: 25px;
  width: 18rem;
  text-align: center;
  margin: 10px;
}

.LoginForm .Button {
  margin-top: 30px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 15px 50px black;
  padding: 5px 40px;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
}

.LoginForm .Button:hover {
  background-color: rgba(255, 255, 255, 0.877);
  cursor: pointer;
}

.Avatar {
  background-color: white;
  margin: 30px;
}

.SignUp {
  color: white;
  text-decoration: underline;
  margin: 5px;
}
