.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--translucent-primary);
  padding: 80px 80px;
  margin: 5rem;
  border-radius: 50px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.7);
}

.LoginForm .Input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.LoginForm .Role {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LoginForm .Role .RadioInput {
  margin: 10px;
  color: white;
}

.LoginForm .Role .RadioInput * {
  cursor: pointer;
}

.LoginForm .Role .RadioInput input {
  accent-color: rgb(39, 123, 179);
}

.LoginForm .Input input {
  border-radius: 25px;
  width: 18rem;
  height: 2rem;
  padding: 10px;
  border: none;
}

.LoginForm .Error {
  color: white;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.822);
  border-radius: 25px;
  width: 18rem;
  text-align: center;
  margin: 10px;
}

.LoginForm .Button {
  margin-top: 30px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 15px 50px black;
  padding: 2% 10%;
  font-weight: bold;
  border: none;
  filter: drop-shadow(0px 0px 10px rgba(204, 22, 113, 0.541));
}

.LoginForm .Button:hover {
  background-color: rgba(255, 255, 255, 0.877);
  cursor: pointer;
  transform: scale(1.2);
}

.Avatar {
  background-color: white;
  margin: 30px;
  filter: drop-shadow(0px 0px 20px rgba(204, 22, 113, 0.479));
}
