.Content {
  padding: 80px 0;
  background-color: white;
  background-image: url("https://images.unsplash.com/photo-1508780709619-79562169bc64?");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
